.1password/
.aws/
.azure/
.bito/
.codeium/
.config/
.crossnote/
.dbclient/
.docker/
.dotnet/
.gsutil/
.ipython/
.minikube/
.ms-ad/
.ollama/
.quokka/
.redhat/
.sonarlint/
.ssh/
.templateengine/
.vs-kubernetes/
.vscode/
.vscode-insiders/
.wallaby/
auto-something/
Contacts/
docs/
docs2/
Documents/
Downloads/
Dropbox/
Favorites/
github-repos/
iCloudDrive/
iCloudPhotos/
lakefront-digital/
Links/
Music/
New folder/
Obsidian/
OneDrive/
plextmp/
Saved Games/
scoop/
Searches/
Videos/
*.boto
.gitconfig
.viminfo
.wslconfig
deletefiles*.py
format_gcp_key.sh
